.teams-pagination {
    margin-top: 50;
}
table.scroll {
    width: 100%; /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    /*border: 2px solid black;*/
}
table.scroll tbody,
table.scroll thead { display: block; }
thead tr th {
    height: 30px;
    /*line-height: 30px;
    text-align: left;*/
}
table.scroll tbody {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}
table.scroll tbody { border-top: 2px solid black; }
table.scroll tbody td, thead th {
    width: 20%; /* Optional */
    text-align: center;
    /*border-right: 1px solid black;*/
}

table.scroll tbody td:last-child, thead th:last-child {
    border-right: none;
}
/*.sb-sideBarImage
{
    top-buffer { margin-top:20px; }
}*/

/* Styles */
/*#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 2000px;
  margin: 0 auto;
}*/
/*@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

#nav ul li.active {
    background-color: #FF0000;
}
.navbar-nav > li > a, .navbar-brand, .navbar-inverse, .navbar-fixed-top, .active{
    padding-top:5px !important; padding-bottom:10px !important;
    height: 40px;
}
.navbar {min-height:20px !important;}

.container {
     padding: 50px;
     background-color: #FFF;
   }

a.active {
  color: yellow;
}

nav {
  padding-top: 20px;
  padding-bottom: 20px;
}
.top-buffer { padding-top: 20px; }*/
