.teams-pagination {
    margin-top: 50;
}

.jumbotron{
    background-color: #262626;
    color: white;
}
table.scroll {
     width: 100%; Optional
    /* border-collapse: collapse; */
    border-spacing: 0;
    /*border: 2px solid black;*/
}
table.scroll tbody {display: block;}
table.scroll thead {display: block;}
table.scroll thead tr th {
    height: 30px;
    /*line-height: 30px;
    text-align: left;*/
    background-color: Grey;
}
table.scroll tbody {
    height: 200px;
    font-size: 12px;
    overflow-y: auto;
    overflow-x: hidden;
}
table.scroll tbody { border-top: 2px #262626; }
table.scroll tbody td {
    width: 20%; /* Optional */
    text-align: left;
    /*border-right: 1px solid black;*/
}
table.scroll thead th {
    width: 20%; /* Optional */
    text-align: center;
    /*border-right: 1px solid black;*/
}
table.scroll  thead th {
    width: 20%; /* Optional */
    text-align: center;
    /*border-right: 1px solid black;*/
}

table.scroll tbody td:last-child, thead th:last-child {
    border-right: none;
}
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

table.mainScreen {
    width: 100%; /* Optional */
    /* border-collapse: collapse; */
    border-spacing: 0;
    margin-bottom: 0px;
    /*border: 2px solid black;*/
}
table.mainScreen tbody  { display: block;  }
table.mainScreen thead { display: block;  }
table.mainScreen thead tr {
    /*width: 99%;*/
    text-align: center;
    height: 20px;
    line-height: 30px;
    width: 99%;

}
table.mainScreen thead th {
    /*width: 30%; /* Optional */
    text-align: center;
    height: 30px;
    /*line-height: 30px;*/
    /*border: 1px solid white;*/
}
table.mainScreen tbody {
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    /*border-top: 2px solid black;*/
}
table.mainScreen  tr {
    border-spacing: 1px;
    width: 99%;
    /*border: 1px solid white;*/
}
table.mainScreen tbody td {
    width: 99%; /* Optional */
    text-align: left;
    border-spacing: 10px;
    /*border: 1px solid white;*/
}
table.mainScreen tbody td:last-child, thead th:last-child {
    border-right: none;
}
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/

td.blackBg {
    background-color: #262626;
    color: white;
}

tr.blackBg {
    background-color: #262626;
    color: white;
    width:inherit;
}
a.blackBg {
    background-color: #262626;
    color: white;
    width:inherit;
}
tbody.blackBg {
    background-color: #262626;
    color: white;
    width:inherit;
}
div.blackBg {
    background-color: #262626;
    color: white;
    padding: 10px;
    word-wrap: break-word;
    word-break: normal;
}
div.blackBgInLine {
    background-color: #262626;
    color: white;
    padding: 5px;
    vertical-align: middle;
    display: inline-block;
}

div.rowContainer{
    padding: 5px;
}

div.ib{
     /*border: solid red 1px;*/
      /*display: inline-block;
      width:50%;*/
      max-width: 70%;
      min-width: 70%;
      vertical-align: middle;
      padding: 5px;
      margin: 5px;
      float: left;
      word-break: normal;
  }
div.ibright{
    /*border: solid red 1px;*/
      /*display: inline-block;*/
      min-width: 200px;
      vertical-align: middle;
      padding: 5px;
      margin: 5px;
      /*float:right;*/
      float: left;
      word-break: normal;
  }
  div.ibInline{
      /*border: solid red 1px;*/
        display: inline;
        min-width: 100px;
        vertical-align: middle;
        /*padding: 10px;*/
        margin-top:  5px;
        margin-bottom: 5px;
        margin-left: 5px;
        margin-right: 5px;
        word-break: normal;
    }

/*@media screen and (min-width:1025px) {
      div.ibright, div.ibInline {
          display:inline-block;
          float:right;
      }
     div.ib{
         width:"100%";
     }
  }*/

div.break {
    background-color: white;
    height: 2px;
    /*margin: 5px 0 10px 0;*/
    width: 100%;
    clear: both;
}
div.clear {
    height: 2px;
    width: 100%;
    clear: both;
}

span.spanAmenities{
    word-wrap:normal;
}

.navbar-inverse {
     background-color: #262626;
     border-color: #262626;
}
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------*/
$breakpoint-alpha: 480px;
.rwd-table {
  margin: 1em 0;
  min-width: 300px;

  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  th {
    display: none;
  }

  td {
    display: block;

    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    /*&:before {
      content: attr(data-th)": ";
      font-weight: bold;

      // optional stuff to make it look nicer
      width: 6.5em;
      display: inline-block;
      // end options

      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }*/
  }

  th, td {
    text-align: left;

    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

  }
}

@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';

body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  /*text-rendering: optimizeLegibility;*/
  color: black;
  background: #ffcb45;
  /*background: url("../images/main.jpg") no-repeat #ffff99;
  background-size: cover;*/
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  tr {
    border-color: lighten(#34495E, 10%);
  }
  th, td {
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) {
      padding: 1em !important;
    }
  }
  /*th, td:before {
    color: #dd5;
  }*/
}
/*=============================================================================================*/
/* Navigation bar */
#main_navbar .navbar-default, .dropdown-menu {
	background-color: #A94442;
	border-color: transparent;
	border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}
/*
 #main_navbar .navbar-default .navbar-nav > .open > a, #main_navbar .navbar-default .navbar-nav > .open > a:hover, #main_navbar .navbar-default .navbar-nav > .open > a:focus {
 background-color: #843534;
 }
 */

/* Navigation bar text colour, alignment, font size */
#main_navbar ul > li a {
	color: #fff;
	text-align: center;
	font-size: medium;
}

/* Navigation bar hover colour */
#main_navbar .navbar-nav li a:hover {
	background-color: #843534;
}

/* Responsive navigation colour */
#main_navbar .navbar-toggle {
	background-color: #A94442;
}

/*displays yellow color pointer ABOVE the menu item while selecting a menu item*/
/*#main_navbar li:hover:after {
	content: ' ';
	position: absolute;
	border: solid 10px transparent;
	border-top: solid 0px transparent;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
	border-color: #ffcb45 transparent transparent transparent;
}*/

/* Navigation highlight for current page */
body#home a#homenav, body#about a#aboutnav, body#menupage a#menunav, body#contact a#contactnav,
body#venues a#venuesnav, body#scores a#scoresnav, body#favorites a#favoritesnav, body#teams a#teamsnav,
body#posts a#postsnav, body#terms a#termsnav, body#help a#helpnav, body#more a#morenav,
body#cookie a#cookienav{
	background-color: #843534;
}

.current:after {
	content: ' ';
	position: absolute;
	border: solid 10px transparent;
	border-top: solid 0px transparent;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
	border-color: #ffcb45 transparent transparent transparent;

}

/* Navigation bar border */
#main_navbar .navbar-default {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
