/* Styles */
/*#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 550px;
  max-width: 2000px;
  margin: 0 auto;
}*/
.container {
     padding: 50px;
     background-color: #FFF;
   }

a.active {
  color: yellow;
}

nav {
  padding-top: 20px;
  padding-bottom: 20px;
}
.top-buffer { padding-top: 20px; }
